body {
  font-family: Arial, sans-serif;
  background-color: #f0f8ff;
  display: flex;
  justify-content: center;
  align-items: center;
  
  margin: 0;
}

.container {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-width: 900px;
  width: 100%;
  margin-top: 20vh;
}

.calculator {
  display: flex;
  flex-wrap: wrap;
}

.form-section {
  padding: 20px;
  flex: 1;
  min-width: 300px;
}

.main {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.form-section h2 {
  font-size: 23px;
  margin-top: 0;
}

.clear-all {
  text-align: right;
  margin-bottom: 10px;
}

.form-group {
  margin-bottom: 20px;
}

.amount label {
  display: block;
  margin-bottom: 10px;
  margin-top: 6px;
  font-size: 13px;
}

.amount input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.term-rate {
  display: flex;
  width: 100%;
  font-size: 13px;
  gap: 10px;
}

.term-rate label {
  display: block;
  margin-bottom: 10px;
  margin-top: 15px;
  font-size: 13px;
}

.term,
.rate {
  width: 100%;
}

.term input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 7px;
  box-sizing: border-box;
}

.rate input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 7px;
  box-sizing: border-box;
}

.mortage label {
  display: block;
  margin-bottom: 10px;
  margin-top: 15px;
  font-size: 13px;
}




.mortage-type .repayment{
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 7px;
  
  
}
.mortage-type .interest{
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 7px;
 margin-top: 10px;
}

.calculate-button {
  background-color: rgb(225, 225, 43);
  color: rgb(0, 0, 0);
  border: none;
  padding: 13px;
  border-radius: 30px;
  cursor: pointer;
  width: 60%;
  font-size: 13px;
  margin-bottom: 10px;
  margin-top: 25px;
}

.calculate-button:hover {
  background-color: #e2e92b;
}

.results-section {
  background-color: #1e3c51;
  color: white;
  padding: 20px;
  flex: 1;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-end-start-radius: 40px;
}

.illustration img {
  max-width: 100%;
  height: auto;
  margin-bottom: 40px;
  margin-top: 50px;
}

.results h3 {
  margin-top: 10px;
  
  text-align: center;
}

.results p {
  margin: 10px 0 0;
  text-align: center;
  margin-bottom: 60px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}



@media (max-width: 768px) {
  .calculator {
    flex-direction: column;
  }

  .form-section,
  .results-section {
    padding: 15px; 
  }
  .main .clear-all{
    flex-direction: column;
    
  }

  .term-rate,
  .mortgage-type {
    flex-direction: column;
    gap: 10px;
  }

  .amount input,
  .term input,
  .rate input {
    padding: 8px; 
  }

  .calculate-button {
    margin-top: 25px;
  }

  .illustration img {
    margin-bottom: 20px;
  }
  .results-section{
    border-end-start-radius: 0;
  }
  .container{
    margin-top: 0;
  }
}
